# Eclipse
##########
.classpath
.project
.settings/

# IDEA
##########
.idea
*.iml
less/*.css

# Grunt
########
node_modules/
dist/script/
dist/image/
dist/style/

# System Dependent
##################
Thumbs.db

# Graphic Files
# Note: These files are not available to the public due to license restrictions.
########
image/buttons.svg
image/mention.svg